#category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255) ;
    border-radius: 5px;
  }
  
  .category-item {
    padding: 10px 20px;
    background-color: rgb(233, 225, 225) ;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex-shrink: 0;
    min-width: 120px;
  }
  
  .category-item:hover {
    background-color: rgb(140, 140, 140) ;;
    transform: scale(1.05);
  }
  
  .category-item.active {
    background-color: rgb(140, 140, 140) ;
    font-weight: bold;
  }
  